body {
    /* background-color: #cccccc;
    color: #333333; */
    font-size: 15px;
    line-height: 2;
    padding: 0;
}
.container{
    margin: auto;
}


img{
    padding: 0;
    caret-color: transparent;
}

#bigimg{
    height: 40vh;
    object-fit: contain;
}

.img-thumbnail{
    object-fit: contain;
    display: flex;
    align-items: center; 
    margin: 3px;
}
