{% extends "base.html" %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div>{{ message.message }}</div>
  {% endfor %}
{% endif %}

<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <h2 class="text-center">User Login</h2>
              </div>
              <div class="card-body">
                  <form method="post">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="username" class="form-label">Username</label>
                          {{ login_form.email }}
                      </div>
                      <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          {{ login_form.password }}
                      </div>
                      <div class="text-center">
                          <button type="submit" class="btn btn-primary">Login</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
      
    {% comment %} {{ login_form.as_p }}
    <button type="submit">ログインする</button> {% endcomment %}
</form>
{% endblock  %}
