<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>画像アップロード</title>
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="upload_file"><br>
            <button type="submit">送信</button>
        </form>

        {% if uploaded_file_url %}
        <p>保存先: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        <img src="{{ uploaded_file_url }}">
        {% endif %}
</html>
