<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}ユーザー管理{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
    </head>
    <body id="inpur_Form">
        <header>
                <h1>怪しい商品売りつけサイト</h1>
                <h2>-user管理-</h2>
                <nav>
                    <ul class=global-nav>
                    <li><a href="{% url "user:index" %}">目次</a></li>
                    <li><a href="{% url "admin:index" %}">管理画面</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url "user:user_logout" %}">ログアウト</a></li>
                    {% else %}
                    <li><a href="{% url "user:register" %}">ユーザー登録</a></li>
                    <li><a href="{% url "user:user_login" %}">ログイン</a></li>
                    {% endif %}
                    <li><a href="{% url "user:info" %}">自分の情報</a></li>
                    </ul>
                </nav>
        </header>

        <div id="wrap">
        {% block content %}{% endblock  %}
        </div>
    </body>
</html>
